.container{
  width: 100%;
  display: flex;
  justify-content: center;

  .form{
    width: 50%;
    min-width: 200px;
    background: rgb(241, 247, 248);
    margin: auto;
    padding: 1rem;
    gap: 0.5rem; /* Adjust the value as needed */

    display: flex;
    flex-direction: column;  
    align-items: center;

    // replace with meaningful styles
    input, select, button{
      height: 2rem;
      width: 180px;
    }
    input{
      text-align: center;
    }
    label{
      color: gray;
    }

    select{
      padding: 0.5rem;
    }

    .field{
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }
}