.container{
  position: relative;
  display: inline-block; /* Let dropdown btn and text in the same line*/
}

.trigger{
  width: 100px;
  height: 2rem;
}

.menu{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  position: absolute; /* + parent position: relative -> Ensure the paragraph is not affected by the menu.  */
}

.item{
  width: 150px;
  border: 1px solid gray;
  padding: 0.5rem;
  text-align: center;
  background-color: lightgray;
}

.end{
  right: 0;
}