.container{
  h1{
    text-align: center;
  }
}

.metrix{
  height: 50vh;

  /* vertical spacing b/w cells */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}

.metrixRow {
  display: flex;
  gap: 1rem;
}

.metrixColumn {
  border: 2px solid lightgray;
  border-radius: 10%;

  /* Fixed size no matter whether there's content or not */
  height: 4rem;
  width: 4rem;

  /* align text */
  align-content: center; /* vertical */
  text-align: center; /* horizontal */

  font-size: 2rem;
}

.keyboard{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .row{
    display: flex;
    gap: 1rem;
  }
  .keycell{
    padding: 1rem;
    border: 2px solid lightgray;
    cursor: pointer;
  border-radius: 5%;

  }
}